attrs==22.2.0
pydantic[dotenv]==1.10.6
stac_pydantic==2.0.3
stac-fastapi.types==2.4.4
stac-fastapi.api==2.4.4
stac-fastapi.extensions==2.4.4
stac-fastapi.pgstac==2.4.4
shapely==2.0.1
fastapi-utils==0.2.1
httpx==0.23.3
uvicorn[standard]==0.21.0
xmltodict==0.13.0
orjson==3.8.7
pygeofilter==0.2.1